<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style type="text/css">
  ul{
    list-style: none;
  }
  li{
    display: inline;
  }
  .active{
    background: #0B78A0 ;
    color:#FFFFFF;
    padding: 5px;
  }
  </style>

</head>
<body>
  <div id="root">
    <ul>
      <li v-for="(skill,i) in skills">  
        <p>{{skill}}</p>  <button @click="remove(i)">x</button>
      </li>
    </ul>
    <input type="text" v-model="newSkill">
    <button @click="addNew()">Add</button>
  
  
  </div>
  <script type="text/javascript" src="vue.js"></script>
  <script type="text/javascript">
   var app = new Vue({
      el:"#root",
      data: {
        newSkill:"",
        skills :[
         "rifat",
         "arfat"
        ]
      },
      methods : {
        addNew: function(){
          this.skills.push(this.newSkill)
          this.newSkill = ''
        },
        remove:function(i){
          this.skills.splice(i,1)
        }
      }
     
    })
  </script>
</body>
</html>